.container
    margin: 0 auto
    max-width: 800px

    .search-title
        color: #fff
        background: #0008
        padding: 2px 5px
        border-radius: 5px
        width: fit-content

    .search-item-amount
        color: #fff
        background: #0008
        margin-bottom: 20px
        padding: 2px 5px
        border-radius: 5px
        width: fit-content

    .card
        color: #fff
        background: #0008
        margin: 10px auto
        width: 100%
        padding: 10px
        border-radius: 20px
        display: flex
        flex-direction: row
        box-sizing: border-box

        .card-img
            flex: 0 0 40%
            max-width: 40%
            box-sizing: border-box

            .card-img-top
                border-radius: 20px
                width: 100%

        .card-body
            flex: 0 0 60%
            max-width: 60%
            padding: 0 20px
            box-sizing: border-box

            .card-title
                a
                    color: #fff